@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Montserrat+Italic:wght@400;900&display=swap');



:root{
  --background-primary:#BDE5D1;
  --background-secundary:#3266B0;
  --container-primary: #DCEDE0;
  --container-secundary:#84C6A3;
  --detail-primary: #84c6a357;
  --detail-secundary: #67C196;
  --detail-tertiary: #FFE100;
  --letters-black:#448F69;
}

*{
  font-family: 'Montserrat', sans-serif;
  padding:0px;
  margin: 0px;
}

.App{
  font-family: 'Montserrat', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

