.wrappedBar{
  display: flex;
}

.buttonNav{
  padding: 10px;
  margin-left: 15px;
  background-color: var(--container-secundary);
  color: #fafafa;
  border-radius: 50px;
  border: none;
  align-items: center;
  width: 75px;
  height: 40px;
  justify-content: center;
  text-decoration: none;
  font-size: 13px;
  transition: .3s;
  
  
}
.buttonNav:hover{
  background-color:var(--detail-tertiary);
  box-shadow: 0px 0px 40px 5px rgba(255, 255, 255, 0.3);  ;
}
.inputNav{
  width: 300px;
  height: 30px;
  padding: 10px;
  border-radius: 50px;
  background-color: #fafafa;
  transition: 0.5s;
  border: 1px solid #fafafa;

}
.inputNav:focus{
  color:#312C2C;
  outline: none;
  width: 350px;
  height: 30px;
  padding: 10px;
  border-radius: 16px;
  

}