.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-primary);
  height: 6vh;
}

.pagination-page button {
  font-size: 13px;
  padding: 5px 7px;
  margin: 2px;
  background-color: var(--container-secundary);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: .1s;
}

.pagination-page button.active {
  width: 40px;
  height: 35px;
  background-color: var(--background-secundary);
  color: var(--detail-tertiary);
  font-weight: bold;
  font-size: 15px;
  padding: 0;
  margin: 2px;
}
