.div{
  height: 7vh;
  display: flex;
  background: #C54215;
  align-items: center;
  justify-content: space-around;
}

.navButtons{
  font-family: 'Clash Display';
  text-decoration: none;
  list-style: none;
  font-size: 30px;
  color:white
} 
