.div{
  height: 7vh;
  display: flex;
  background: var(--background-primary);
  align-items: center;
  justify-content: space-around;
}

.navButtons{
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  font-weight: 900;
  color:var(--letters-black);
  font-weight: bolder;
  transition: .1s;
} 
.navButtons:hover{
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  font-weight: 900;
  color:var(--detail-tertiary);
  font-weight: bolder;
} 

.div img{
  height: 55px;
}
